/* Import Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@theme {
  /* Custom Colors  */
  --color-C_purple: #7854f6;
  --color-C_DarkGray: #222222;
  --color-C_LightGray: #696969;
  --color-C_blue: #101e2c;
  --color-title_color: #222;
  --color-paragraph_color: #9b9b9b;
  --color-paragraph_colorTwo: #6f6f6f;
  --color-bg_color: #f0f5ff;
  --color-footer_color: #f7f4fb;

  /* Custom Fonts  */
  --font-Nunito: "Nunito", "sans-serif";
  --font-Nunito_Sans: "Nunito Sans", "sans-serif";
}

@plugin "daisyui" {
  themes: light --default;
}

/* Date Picker CSS  */
/* @import "./node_modules/pikaday/css/pikaday.css"; */

.nav-item:hover {
  color: #7854f6;
  /* border: 2px solid #7854f6; */
  border-radius: 0;
  background-color: transparent !important;
}
.nav-item:target {
  color: #7854f6;
  /* border: 2px solid #7854f6; */
  border-radius: 0;
  background-color: transparent !important;
}

#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}

/* About Gallery */
/* .masonry-gallery {
  column-count: 3;
  column-gap: 1rem;
} */

/* .masonry-gallery a {
  display: grid;
  break-inside: avoid;
}
 */

.masonry-gallery {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  column-gap: 1rem;
  /* column-count: 3; */
  /* column-gap: 1rem; */
}

@media screen and (max-width: 480px) {
  .masonry-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.masonry-gallery a {
  height: 250px;
}

/* Map Leaflet CSS  */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 8px;
}

/* Profile Image Preview  */
#img-preview {
  display: none;
  width: 155px;
  border: 2px dashed #333;
  margin-bottom: 20px;
}
#img-preview img {
  width: 100%;
  height: auto;
  display: block;
}

/* [type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
} */
/* [type="file"] + label {
  font-family: sans-serif;
  background: #f44336;
  padding: 10px 30px;
  border: 2px solid #f44336;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
[type="file"] + label:hover {
  background-color: #fff;
  color: #f44336;
} */
