@import "tailwindcss";
@theme {
  --color-C_purple: #7854f6;
}

@plugin "daisyui" {
  themes: light --default;
}

.nav-item:hover {
  color: #7854f6;
  /* border: 2px solid #7854f6; */
  border-radius: 0;
}
